FORMAT: 1A
HOST: http://browser.ihtsdotools.org/api/snomed

# SNOMED CT Snapshot Browser REST API
SNOMED CT Snapshot REST API provides access to SNOMED CT content snapshot form (only the latest version for all components, see Snapshot definition in the RF2 format description).
The API focuses on providing access to **SNOMED CT Concepts**

## Concept [/{edition}/{release}/concepts/{sctid}]
A single Concept with all its details

+ Parameters
    + edition (required, string, `en-edition`) ... Identifier for the SNOMED CT Edition to browse, for example `en-edition` for the International Edition
    + release (required, string, `v20160131`) ... Identifier for the release, the release effective time preceded with a `v`.
    + sctid (required, number, `404684003`) ... SNOMED CT Identifier of the concept to retrieve.

### Retrieve a Concept [GET]
+ Response 200 (application/json)

    + Body

            {
              "_id": "56c42b757df006c561fec8ff",
              "memberships": [
                {
                  "type": "SIMPLEMAP",
                  "referencedComponentId": "404684003",
                  "refset": {
                    "conceptId": "900000000000498005",
                    "defaultTerm": "SNOMED RT identifier simple map (foundation metadata concept)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000012004"
                  },
                  "otherValue": "R-005AE",
                  "uuid": "8f4f4344-9687-515f-8fc8-1cf0934b3642",
                  "active": true,
                  "effectiveTime": "20040131",
                  "module": "900000000000207008"
                },
                {
                  "type": "SIMPLEMAP",
                  "referencedComponentId": "404684003",
                  "refset": {
                    "conceptId": "900000000000497000",
                    "defaultTerm": "CTV3 simple map reference set (foundation metadata concept)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000012004"
                  },
                  "otherValue": "XUauZ",
                  "uuid": "0b6415e4-7c1b-5613-bb77-2fc303889c54",
                  "active": true,
                  "effectiveTime": "20040131",
                  "module": "900000000000207008"
                }
              ],
              "descriptions": [
                {
                  "descriptionId": "2148514019",
                  "conceptId": "404684003",
                  "type": {
                    "conceptId": "900000000000003001",
                    "defaultTerm": "Fully specified name (core metadata concept)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000012004"
                  },
                  "lang": "en",
                  "term": "Clinical finding (finding)",
                  "length": 26,
                  "ics": {
                    "conceptId": "900000000000020002",
                    "defaultTerm": "Only initial character case insensitive (core metadata concept)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000012004"
                  },
                  "langMemberships": [
                    {
                      "descriptionId": "2148514019",
                      "refset": {
                        "conceptId": "900000000000509007",
                        "defaultTerm": "United States of America English language reference set (foundation metadata concept)",
                        "definitionStatus": "Primitive",
                        "statedDescendants": 0,
                        "inferredDescendants": 0,
                        "active": true,
                        "effectiveTime": "20020131",
                        "module": "900000000000012004"
                      },
                      "acceptability": {
                        "conceptId": "900000000000548007",
                        "defaultTerm": "Preferred (foundation metadata concept)",
                        "definitionStatus": "Primitive",
                        "statedDescendants": 0,
                        "inferredDescendants": 0,
                        "active": true,
                        "effectiveTime": "20020131",
                        "module": "900000000000012004"
                      },
                      "uuid": "af0e9809-ca7c-52c3-8b4d-15c1f83ef7dd",
                      "active": true,
                      "effectiveTime": "20040131",
                      "module": "900000000000207008"
                    },
                    {
                      "descriptionId": "2148514019",
                      "refset": {
                        "conceptId": "900000000000508004",
                        "defaultTerm": "Great Britain English language reference set (foundation metadata concept)",
                        "definitionStatus": "Primitive",
                        "statedDescendants": 0,
                        "inferredDescendants": 0,
                        "active": true,
                        "effectiveTime": "20020131",
                        "module": "900000000000012004"
                      },
                      "acceptability": {
                        "conceptId": "900000000000548007",
                        "defaultTerm": "Preferred (foundation metadata concept)",
                        "definitionStatus": "Primitive",
                        "statedDescendants": 0,
                        "inferredDescendants": 0,
                        "active": true,
                        "effectiveTime": "20020131",
                        "module": "900000000000012004"
                      },
                      "uuid": "6b57716b-e952-5039-a403-b5b25cbab745",
                      "active": true,
                      "effectiveTime": "20040131",
                      "module": "900000000000207008"
                    }
                  ],
                  "words": [
                    "clinical",
                    "finding",
                    "finding"
                  ],
                  "active": true,
                  "effectiveTime": "20040131",
                  "module": "900000000000207008"
                },
                {
                  "descriptionId": "2156578010",
                  "conceptId": "404684003",
                  "type": {
                    "conceptId": "900000000000013009",
                    "defaultTerm": "Synonym (core metadata concept)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000012004"
                  },
                  "lang": "en",
                  "term": "Clinical finding",
                  "length": 16,
                  "ics": {
                    "conceptId": "900000000000020002",
                    "defaultTerm": "Only initial character case insensitive (core metadata concept)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000012004"
                  },
                  "langMemberships": [
                    {
                      "descriptionId": "2156578010",
                      "refset": {
                        "conceptId": "900000000000508004",
                        "defaultTerm": "Great Britain English language reference set (foundation metadata concept)",
                        "definitionStatus": "Primitive",
                        "statedDescendants": 0,
                        "inferredDescendants": 0,
                        "active": true,
                        "effectiveTime": "20020131",
                        "module": "900000000000012004"
                      },
                      "acceptability": {
                        "conceptId": "900000000000548007",
                        "defaultTerm": "Preferred (foundation metadata concept)",
                        "definitionStatus": "Primitive",
                        "statedDescendants": 0,
                        "inferredDescendants": 0,
                        "active": true,
                        "effectiveTime": "20020131",
                        "module": "900000000000012004"
                      },
                      "uuid": "de4a138e-1748-5571-ac60-bdce3073622b",
                      "active": true,
                      "effectiveTime": "20040131",
                      "module": "900000000000207008"
                    },
                    {
                      "descriptionId": "2156578010",
                      "refset": {
                        "conceptId": "900000000000509007",
                        "defaultTerm": "United States of America English language reference set (foundation metadata concept)",
                        "definitionStatus": "Primitive",
                        "statedDescendants": 0,
                        "inferredDescendants": 0,
                        "active": true,
                        "effectiveTime": "20020131",
                        "module": "900000000000012004"
                      },
                      "acceptability": {
                        "conceptId": "900000000000548007",
                        "defaultTerm": "Preferred (foundation metadata concept)",
                        "definitionStatus": "Primitive",
                        "statedDescendants": 0,
                        "inferredDescendants": 0,
                        "active": true,
                        "effectiveTime": "20020131",
                        "module": "900000000000012004"
                      },
                      "uuid": "2b21585b-b754-5e54-a7ca-6ba64d7e67d4",
                      "active": true,
                      "effectiveTime": "20040131",
                      "module": "900000000000207008"
                    }
                  ],
                  "words": [
                    "clinical",
                    "finding"
                  ],
                  "active": true,
                  "effectiveTime": "20040131",
                  "module": "900000000000207008"
                }
              ],
              "relationships": [
                {
                  "type": {
                    "conceptId": "116680003",
                    "defaultTerm": "Is a (attribute)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20110131",
                    "module": "900000000000012004"
                  },
                  "target": {
                    "conceptId": "138875005",
                    "defaultTerm": "SNOMED CT Concept (SNOMED RT+CTV3)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 319445,
                    "inferredDescendants": 319445,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000207008"
                  },
                  "sourceId": "404684003",
                  "groupId": 0,
                  "charType": {
                    "conceptId": "900000000000011006",
                    "defaultTerm": "Inferred relationship (core metadata concept)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000012004"
                  },
                  "modifier": "Existential restriction",
                  "active": true,
                  "effectiveTime": "20040131",
                  "module": "900000000000207008"
                }
              ],
              "statedRelationships": [
                {
                  "type": {
                    "conceptId": "116680003",
                    "defaultTerm": "Is a (attribute)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20110131",
                    "module": "900000000000012004"
                  },
                  "target": {
                    "conceptId": "138875005",
                    "defaultTerm": "SNOMED CT Concept (SNOMED RT+CTV3)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 319445,
                    "inferredDescendants": 319445,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000207008"
                  },
                  "sourceId": "404684003",
                  "groupId": 0,
                  "charType": {
                    "conceptId": "900000000000010007",
                    "defaultTerm": "Stated relationship (core metadata concept)",
                    "definitionStatus": "Primitive",
                    "statedDescendants": 0,
                    "inferredDescendants": 0,
                    "active": true,
                    "effectiveTime": "20020131",
                    "module": "900000000000012004"
                  },
                  "modifier": "Existential restriction",
                  "active": true,
                  "effectiveTime": "20080731",
                  "module": "900000000000207008"
                }
              ],
              "isLeafInferred": false,
              "isLeafStated": false,
              "fsn": "Clinical finding (finding)",
              "semtag": "finding",
              "inferredAncestors": [
                "138875005"
              ],
              "statedAncestors": [
                "138875005"
              ],
              "conceptId": "404684003",
              "defaultTerm": "Clinical finding (finding)",
              "definitionStatus": "Primitive",
              "statedDescendants": 103911,
              "inferredDescendants": 103911,
              "active": true,
              "effectiveTime": "20040131",
              "module": "900000000000207008"
            }

## Children [/{edition}/{release}/concepts/{sctid}/children?form={form}]
Lists all children of a concept, in the SNOMED CT hierarchy. Each child is retrieved in a summary form, called Concept Descriptor.

+ Parameters
    + edition (required, string, `en-edition`) ... Identifier for the SNOMED CT Edition to browse, for example `en-edition` for the International Edition
    + release (required, string, `v20160131`) ... Identifier for the release, usually the release effective time preceded with a `v`.
    + sctid (required, number, `123037004`) ... SNOMED CT Identifier of the concept to retrieve.
    + form (required, string, `inferred`) ... Characteristic type of the Is-a hierarchy, either `stated` or `inferred`.

### Retrieve Children [GET]
+ Response 200 (application/json)

    + Body


            [
              {
                "_id": "56c42b587df006c561fe1eee",
                "isLeafInferred": false,
                "isLeafStated": false,
                "conceptId": "258331007",
                "defaultTerm": "Anatomical site notations for tumor staging (body structure)",
                "definitionStatus": "Primitive",
                "active": true,
                "module": "900000000000207008"
              },
              {
                "_id": "56c42b717df006c561feb08f",
                "isLeafInferred": true,
                "isLeafStated": true,
                "conceptId": "21229009",
                "defaultTerm": "Topography not assigned (body structure)",
                "definitionStatus": "Primitive",
                "active": true,
                "module": "900000000000207008"
              },
              {
                "_id": "56c42b747df006c561fec762",
                "isLeafInferred": true,
                "isLeafStated": true,
                "conceptId": "361083003",
                "defaultTerm": "Normal anatomy (body structure)",
                "definitionStatus": "Primitive",
                "active": true,
                "module": "900000000000207008"
              },
              {
                "_id": "56c42ba97df006c561ffe865",
                "isLeafInferred": false,
                "isLeafStated": false,
                "conceptId": "118956008",
                "defaultTerm": "Body structure, altered from its original anatomical structure (morphologic abnormality)",
                "definitionStatus": "Primitive",
                "active": true,
                "module": "900000000000207008"
              },
              {
                "_id": "56c42bb47df006c561002cff",
                "isLeafInferred": false,
                "isLeafStated": false,
                "conceptId": "442083009",
                "defaultTerm": "Anatomical or acquired body structure (body structure)",
                "definitionStatus": "Primitive",
                "active": true,
                "module": "900000000000207008"
              },
              {
                "_id": "56c42c357df006c56102f22e",
                "isLeafInferred": true,
                "isLeafStated": true,
                "conceptId": "278001007",
                "defaultTerm": "Nonspecific site (body structure)",
                "definitionStatus": "Primitive",
                "active": true,
                "module": "900000000000207008"
              },
              {
                "_id": "56c42c397df006c561030962",
                "isLeafInferred": true,
                "isLeafStated": true,
                "conceptId": "87100004",
                "defaultTerm": "Topography unknown (body structure)",
                "definitionStatus": "Primitive",
                "active": true,
                "module": "900000000000207008"
              },
              {
                "_id": "56c42c4e7df006c561037f12",
                "isLeafInferred": false,
                "isLeafStated": false,
                "conceptId": "91832008",
                "defaultTerm": "Anatomical organizational pattern (body structure)",
                "definitionStatus": "Primitive",
                "active": true,
                "module": "900000000000207008"
              }
            ]
            
## Parents [/{edition}/{release}/concepts/{sctid}/parents?form={form}]
Lists all parents of a concept, in the SNOMED CT hierarchy. Each parent is retrieved in a summary form, called Concept Descriptor.

+ Parameters
    + edition (required, string, `en-edition`) ... Identifier for the SNOMED CT Edition to browse, for example `en-edition` for the International Edition
    + release (required, string, `v20160131`) ... Identifier for the release, the release effective time preceded with a `v`.
    + sctid (required, number, `105997008`) ... SNOMED CT Identifier of the concept to retrieve.
    + form (required, string, `inferred`) ... Characteristic type of the Is-a hierarchy, either `stated` or `inferred`.

### Retrieve Parents [GET]
+ Response 200 (application/json)

    + Body

            [  
               {  
                  "conceptId":"118948005",
                  "defaultTerm":"Disorder of abdomen (disorder)",
                  "definitionStatus":"Fully defined",
                  "module":"900000000000207008"
               },
               {  
                  "conceptId":"76712006",
                  "defaultTerm":"Disorder of digestive organ (disorder)",
                  "definitionStatus":"Fully defined",
                  "module":"900000000000207008"
               },
               {  
                  "conceptId":"300339003",
                  "defaultTerm":"Finding of biliary tract (finding)",
                  "definitionStatus":"Fully defined",
                  "module":"900000000000207008"
               }
            ]           

## Members [/{edition}/{release}/concepts/{sctid}/members?limit={limit}&paginate={page}]
Lists all reference set members of a concept. Each member is retrieved in a summary form, called Concept Descriptor.
Only concepts that are reference sets will include members. 
The concept details describe all the reference sets where a concept is member in, called memberships, and can be retrieved with the /concepts/id call.

+ Parameters
    + edition (required, string, `en-edition`) ... Identifier for the SNOMED CT Edition to browse, for example `en-edition` for the International Edition
    + release (required, string, `v20160131`) ... Identifier for the release, usually the release effective time preceded with a `v`.
    + sctid (required, number, `446608001`) ... SNOMED CT Identifier of the concept to retrieve.
    + limit (optional, number, `5`) ... Number of concepts to retrieve on this call (page size).
    + page (optional, number, `1`) ... Page number to retrieve.

### Retrieve Reference set members [GET]
+ Response 200 (application/json)

    + Body

            {
              "members": [
                {
                  "_id": "56c42b3f7df006c561fd97d5",
                  "isLeafInferred": false,
                  "isLeafStated": false,
                  "conceptId": "24176006",
                  "defaultTerm": "Structure of plantar interosseous muscle of foot (body structure)",
                  "definitionStatus": "Primitive",
                  "active": true,
                  "module": "900000000000207008"
                },
                {
                  "_id": "56c42b3f7df006c561fd97d9",
                  "isLeafInferred": true,
                  "isLeafStated": true,
                  "conceptId": "280549003",
                  "defaultTerm": "Entire bone complex of orbit (body structure)",
                  "definitionStatus": "Primitive",
                  "active": true,
                  "module": "900000000000207008"
                },
                {
                  "_id": "56c42b3f7df006c561fd97e7",
                  "isLeafInferred": false,
                  "isLeafStated": false,
                  "conceptId": "75913003",
                  "defaultTerm": "Structure of manubrium of malleus (body structure)",
                  "definitionStatus": "Primitive",
                  "active": true,
                  "module": "900000000000207008"
                },
                {
                  "_id": "56c42b3f7df006c561fd9803",
                  "isLeafInferred": true,
                  "isLeafStated": true,
                  "conceptId": "245962007",
                  "defaultTerm": "L1/L2 part of supraspinous ligament (body structure)",
                  "definitionStatus": "Primitive",
                  "active": true,
                  "module": "900000000000207008"
                },
                {
                  "_id": "56c42b3f7df006c561fd9807",
                  "isLeafInferred": false,
                  "isLeafStated": false,
                  "conceptId": "278369001",
                  "defaultTerm": "Segmental bronchus of right upper lobe (body structure)",
                  "definitionStatus": "Fully defined",
                  "active": true,
                  "module": "900000000000207008"
                }
              ],
              "details": {
                "total": null,
                "refsetId": 446608001
              }
            }

## Search [/{edition}/{release}/descriptions?query={query}&searchMode={mode}&lang={language}&statusFilter={statusFilter}&skipTo={skipTo}&returnLimit={returnLimit}&normalize={normalize}]
Performs a text search over the database, selecting mode and other limits.
The search results include the matching descriptions plus a filter descriptor object, allowing to further refining the search by providing new limits.

+ Parameters
    + edition (required, string, `en-edition`) ... Identifier for the SNOMED CT Edition to browse, for example `en-edition` for the International Edition
    + release (required, string, `v20160131`) ... Identifier for the release, usually the release effective time preceded with a `v`.
    + query (required, string, `asthma`) ... String terms to use a query.
    + mode (optional, string, `partialMatching`) ... Search mode, either `partialMatching`, `fullText` or `regex`.
    + language (optional, string, `english`) ... Languge for the search, only required for `fullText` mode.
    + statusFilter (optional, string, `english`) ... Value to filter out undesired status, possible values are `activeOnly`, `inactiveOnly` or `activeAndInactive`.
    + returnLimit (optional, number, `5`) ... Number of results to retrieve in one call.
    + skipTo (optional, number, `0`) ... Number of results to skip, used along with limit to paginate.
    + normalize (optional, string, `true`) ... Wether to normalize search terms or not, should be aligned with index normalization option in the database.

### Search descriptions [GET]
+ Response 200 (application/json)

    + Body
    

            {
              "matches": [
                {
                  "term": "Asthma",
                  "conceptId": "195967001",
                  "active": true,
                  "conceptActive": true,
                  "fsn": "Asthma (disorder)",
                  "module": "900000000000207008",
                  "definitionStatus": "Primitive"
                },
                {
                  "term": "Asthmatic",
                  "conceptId": "195967001",
                  "active": true,
                  "conceptActive": true,
                  "fsn": "Asthma (disorder)",
                  "module": "900000000000207008",
                  "definitionStatus": "Primitive"
                },
                {
                  "term": "FH: Asthma",
                  "conceptId": "160377001",
                  "active": true,
                  "conceptActive": true,
                  "fsn": "Family history: Asthma (situation)",
                  "module": "900000000000207008",
                  "definitionStatus": "Fully defined"
                },
                {
                  "term": "Mild asthma",
                  "conceptId": "370218001",
                  "active": true,
                  "conceptActive": true,
                  "fsn": "Mild asthma (disorder)",
                  "module": "900000000000207008",
                  "definitionStatus": "Primitive"
                },
                {
                  "term": "Wood asthma",
                  "conceptId": "56968009",
                  "active": true,
                  "conceptActive": true,
                  "fsn": "Wood asthma (disorder)",
                  "module": "900000000000207008",
                  "definitionStatus": "Fully defined"
                }
              ],
              "details": {
                "total": 493,
                "skipTo": 0,
                "returnLimit": 5
              },
              "filters": {
                "lang": {
                  "english": 493
                },
                "semTag": {
                  "disorder": 261,
                  "situation": 28,
                  "regime/therapy": 25,
                  "environment": 2,
                  "observable entity": 11,
                  "finding": 112,
                  "procedure": 41,
                  "product": 3,
                  "assessment scale": 6,
                  "occupation": 2,
                  "qualifier value": 2
                },
                "module": {
                  "900000000000207008": 493
                },
                "refsetId": {
                  "900000000000498005": 493,
                  "900000000000497000": 493
                }
              }
            }